:root {
  --colour1: #ecf0f1;
  /* --colour2: #2c4251; */
  --colour2: #2c4251;
  /* --colour3: #CBE5F6; */
  --colour4: #649085;
  --colour5: #C74343;
}

.button-danger {
  background: var(--colour5);
}

.button-secondary {
  background: var(--colour4);
}

.button-dark {
  background: var(--colour2);
  color: var(--colour1);
}

a {
  color: var(--colour4);
}

a:hover, a:visited:hover {
  color: var(--colour5);
}

/* a:visited {
  color: var(--colour2);
} */

html {
  font-size: 110%;
}

body {
  background-color: var(--colour1);
  color: var(--colour2);
}

.content {
  margin: 25px auto 50px;
  max-width: 48em;
  line-height: 1.6em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.title {
  margin-top: 10vh;
  font-size: 130%;
}


.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 47.9999em) {
  .content {
    max-width: 90%;
  }
  .desktop {
    display: none;
  }
  .forward-btn {
    margin-top: 3px;
  }
  .back-btn {
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 48em) {
  .mobile {
    display: none;
  }
  .desktop-left-pad {
    padding-left: 5px;
  }
  .desktop-unset-justify {
    justify-content: unset;
  }
}

.item-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-5px {
  margin: 5px;
}

.profile-pic {
  max-width: 100%;
  max-height: 50vh;
}
