{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {% block content %}
<div class="text-center title">
  <h1>Forgotten Password Form</h1>
</div>
<div class="content">
  <form action="/forgot-password" method="post" enctype="application/x-www-form-urlencoded" class="pure-form pure-form-stacked">
    <fieldset class="text-center item-center">
      <input class="item-center" type="text" name="username" id="username" placeholder="Username" required>
      <input class="item-center" type="email" name="email" id="email" placeholder="Email" required>
      <input type="submit" value="Submit" class="pure-button button-dark">
    </fieldset>
  </form>
</div>
{% endblock %}
