{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="text-center title">
  <h1>Log in</h1>
</div>
<div class="content">
  <form action="/login" method="post" enctype="application/x-www-form-urlencoded" class="pure-form pure-form-stacked">
    <fieldset class="text-center">
      <input class="item-center" type="text" name="username" id="username" placeholder="Username" required>
      <input class="item-center" type="password" name="password" id="password" placeholder="Password" required>
      <input type="submit" value="Log in" class="pure-button button-dark">
    </fieldset>
  </form>
</div>
{% endblock %}
