{% extends "base.html" %} {% block title %}New User{% endblock %} {% block content %}
<div class="text-center title">
  <h1>Register</h1>
</div>
<div class="content">
  <div>
    <h2>Password Requirements:</h2>
    <ul>
      <li>At least 10 characters</li>
      <li>No more than 8192 bytes long</li>
    </ul>
  </div>
  <form action="/register" method="post" enctype="application/x-www-form-urlencoded"
    class="pure-form pure-form-stacked text-center">
    <fieldset>
      <input type="text" name="username" id="username" placeholder="Username" required class="item-center">
      <input type="email" name="email" id="email" placeholder="Email" required class="item-center">
    </fieldset>
    <fieldset class="pure-group">
      <input type="password" name="password" id="password" placeholder="Password" required class="item-center">
      <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password" required
        class="item-center">
    </fieldset>
    <input class="pure-button button-dark" type="submit" value="Register" class="item-center">
  </form>
</div>
</div>
{% endblock %}
