{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block content %}
<div class="text-center title">
  <h1>Reset password for {{username}}</h1>
</div>
<div class="content">
  <div class="text-center">
    <h2>Password Requirements:</h2>
    <ul>
      <li>At least 10 characters</li>
      <li>No more than 8192 bytes long</li>
    </ul>
  </div>
  <form action="/password-reset" method="post" enctype="application/x-www-form-urlencoded"
    class="pure-form pure-form-stacked text-center">
    <fieldset class="pure-group item-center">
      <input type="hidden" name="token" id="token" value="{{token}}">
      <input type="hidden" name="user_id" id="user_id" value="{{user_id}}">
      <input type="password" name="password" id="password" placeholder="Password" required class="item-center">
      <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password" required
        class="item-center">
    </fieldset>
    <input class="pure-button button-dark" type="submit" value="Reset Password" class="item-center text-center">
  </form>
</div>
</div>
{% endblock %}
