{% extends "base.html" %} {% block title %}Change Password{% endblock %} {% block content %}
<div class="text-center title">
  <h1>Change password for {{user.username}}</h1>
</div>
<div class="content">
  <form action="/user/password" method="post" enctype="application/x-www-form-urlencoded" class="pure-form pure-form-stacked">
    <fieldset class="text-center">
      <input type="hidden" name="csrf" value="{{csrf}}">
      <input type="hidden" name="user_id" value="{{user.user_id}}">
      <input class="item-center" type="password" name="current_password" id="current_password" placeholder="Current Password" required>
    </fieldset>
    <fieldset class="pure-group item-center">
      <input class="item-center" type="password" name="new_password" id="new_password" placeholder="New Password" required>
      <input class="item-center" type="password" name="new_password_confirm" id="new_password_confirm" placeholder="New Password Confirm" required>
    </fieldset>
    <fieldset class="item-center text-center">
      <input type="submit" value="Change Password" class="item-center pure-button button-dark">
    </fieldset>
  </form>
</div>
{% endblock %}
