{% extends "base.html" %} {% block title %}User Details{% endblock %} {% block content %}
<div class="text-center title">
  <h1>User Details</h1>
</div>
<div class="content">
  <table>
    <tr>
      <td>Username</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Email validated</td>
      <td>{{user.email_validated}}</td>
    </tr>
    <tr>
      <td>2FA Enabled</td>
      <td>{{user.totp_active}}</td>
    </tr>
  </table>
  <br>
  {% if not user.email_validated %}
  <p><strong>Warning</strong>
    <br>
    Your email has not been validated. As long as your email has not been validated, your password cannot be reset if
    you forget it.
  </p>
  <br>
  {% endif %}
  <a class="pure-button pure-button-primary" href="/user/password">Change password</a>
  <br>
  <a class="pure-button pure-button-primary" href="/user/username">Change username</a>
  <br>
  <a class="pure-button pure-button-primary" href="/user/picture">Change profile picture</a>
  <br>
  <a class="pure-button pure-button-primary" href="/user/email">Change email</a>
  <br>
  {% if not user.email_validated%}
  <a class="pure-button pure-button-primary" href="/user/validate-email">Resend email validation</a>
  <br>
  {% endif %}
  <a class="pure-button pure-button-primary" href="/user/2fa">2FA Settings</a>
  <br>
  <a class="pure-button button-danger" href="/user/delete">Delete Account</a>
</div>
{% endblock %}
